<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jibon Songi - Home</title>
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <section class="top_header_bar">

        <div class="top_bar_top">
            <div class="top_bar_top_holder_block">
            </div>
            <div class="container">
                <div class="top_bar_top_inner">
                    <div class="top_bar_top_inner_left d-flex align-items-center">
                        <div class="top_bar_top_inner_left_one d-flex align-items-center">
                            <i class="fa-solid fa-phone"></i>
                            <p>00000000000</p>
                        </div>
                        <div class="top_bar_top_inner_left_two d-flex align-items-center">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="location_details">
                                <p>Kolkata, West Bengal - 000000</p>
                            </div>
                        </div>
                    </div>
                    <div class="top_bar_top_inner_right d-flex align-items-center justify-content-end">
                        <p>Find Us On:</p>
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa-brands fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="login_register_section">
            <div class="container">
                <div class="login_register_block">
                    <ul>
                        <li><a href="login
" target="_blank">LOGIN <span>|</span></a></li>
                        <li><a href="javascript:void(0)" target="_blank">SIGN UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
        

        <div class="container">
            <nav class="navbar navbar-expand-lg custom_navbar_block">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"> <img src="assets/image/logo.png" class="img-fluid"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav custom_navbar_nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="index
">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="active_members
">ACTIVE MEMBERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="premium_plans
">PREMIUM PLANS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">HAPPY STORIES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact
">CONTACT US</a>
                            </li>
                            <!-- <li class="nav-item dropdown menu_last_item">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li> -->

                        </ul>

                    </div>
                </div>
            </nav>

            
        </div>

    </section>
    <section class="sa_setion position-relative">
        <div class="container">
            <div class="sa_common_heading text-center">
                <h1>CONTACT US</h1>
                <div class="common_pic">
                    <img src="assets/image/commom-pic.png" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section class="content_page">
        <div class="container">
            <img class="bg1" src="assets/image/cl.png" alt="">
            <img class="bg2" src="assets/image/lm.png" alt="">
            <img class="bg3" src="assets/image/br.png" alt="">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h6>Contact Us</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil temporibus quibusdam illum, maiores deserunt adipisci distinctio voluptatem ratione amet non!</p>
                        <div class="img">
                            <img src="assets/image/couple.png" alt="">
                        </div>
                            
                    </div>
                    <div class="col-md-6">
                        <div class="box">
                            <form>
                                <input type="text" placeholder="Name">
                                <input type="email" placeholder="Email">
                                <input type="text" placeholder="Phone Number">
                                <textarea style="height: 150px; border-radius: 2rem;" type="text" placeholder="Message"></textarea>
                                <input class="button" type="submit" value="Contact Now">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="box2">
                        <img class="r1" src="assets/image/r1.png" alt="">
                        <img class="r2" src="assets/image/r2.png" alt="">
                        <div class="sub-box">
                            <ul class="stul">
                                <li class="stli">
                                    <ul class="ndul">
                                        <li><img src="assets/image/dial.png" alt=""></li>
                                        <li>
                                            <a href="javascript:void(0)">+ 000 0000 000</a><br>
                                            <a href="javascript:void(0)">+ 000 0000 000</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="stli">
                                    <ul class="ndul">
                                        <li><img src="assets/image/mail.png" alt=""></li>
                                        <li>
                                            <a href="javascript:void(0)">yourmail@gmail.com</a><br>
                                            <a href="javascript:void(0)">yourmail@gmail.com</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="stli">
                                    <ul class="ndul">
                                        <li><img src="assets/image/location.png" alt=""></li>
                                        <li>
                                            <a href="javascript:void(0)">Lorem ipsum dolor,</a><br>
                                            <a href="javascript:void(0)">Kolkata-000 000</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer_block">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="footer_block_left">
                        <h1>JIBON SONGI</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos asperiores voluptatum inventore commodi incidunt non optio saepe, exercitationem molestiae culpa, esse fugiat ducimus corrupti amet quisquam, sapiente aliquid adipisci omnis!</p>
                        <div class="icons">
                            <a href="javascript:void(0)"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-instagram"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fa-brands fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="footer_block_right">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>ABOUT</h5>
                                <ul>
                                    <li>All Members</li>
                                    <li>Premium Members</li>
                                    <li>Free Members</li>
                                    <li>Happy Stories</li>
                                    <li>Premium Plans</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5>QUICK SEARCH</h5>
                                <ul>
                                    <li>All Members</li>
                                    <li>Premium Members</li>
                                    <li>Free Members</li>
                                    <li>Happy Stories</li>
                                    <li>Premium Plans</li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h5>USEFUL LINKS</h5>
                                <ul>
                                    <li>FAQ</li>
                                    <li>Terms & Conditions</li>
                                    <li>Privacy Policy</li>
                                </ul>
                                <div class="box">
                                    <h6>Download Our App</h6>
                                    <a href="javascript:void(0)"><img src="assets/image/apple.png" alt=""></a>
                                    <a href="javascript:void(0)"><img src="assets/image/google.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr style="color: #fff;">
        <div class="container">
            <div class="text-center">
                <p style="color: #ffffff; font-weight: 300;">Copyright &copy; 2023 Assam matrimonial - All Rights Reserved</p>
            </div>
        </div>
    </section>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/mobile-menu.js"></script>
    <script src="assets/js/my-carousel.js"></script>
</body>